div {
  border: thick solid blue;
}

.box {
  width: 100%;
  text-align: center;
  flex-grow: 1;
}

.red {
  border: thick solid red;
}

.green {
  border: thick solid green;
}

.black {
  border: thick solid black;
}

.grey {
  border: thick solid grey;
}
